
{% block contenido %}
    <div align="center">
        <table align="center">
            <h1>BIENVENIDO USUARIO</h1>
            <tr>
                <td>Nombre del alumno: </td>
                <td> {{ alumno }} </td>
            </tr>
            <tr>
                <td>Fecha: </td>
                <td>{{ fecha }}</td>
            </tr>
        </table>
    </div>
{% endblock %}